server:
  port: 9091

spring:
  application:
    name: CloudCart Order Service
  datasource:
    url: jdbc:postgresql://localhost:5432/cloudcart_order_db
    username: cloudcart_user
    password: cart_user_123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
        spring.json.value.default.type: com.cloudcart.order.event.OrderCreatedEvent
    consumer:
      group-id: order-group
      auto-offset-reset: earliest

  testcontainers:
    enabled: false


logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
      type:
        descriptor:
          sql: TRACE
    org.apache.kafka: DEBUG


jwt:
  secret: yN4tx4sVXgWnQm+y7FiKV9hqqnhQ8vLOzMN2HT9pTKQ=

