server:
  port: 9091

spring:
  application:
    name: CloudCart Order Service
  datasource:
    url: jdbc:postgresql://localhost:5432/cloudcart_order_db
    username: cloudcart_user
    password: cart_user_123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false


logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
      type:
        descriptor:
          sql: TRACE


jwt:
  secret: yN4tx4sVXgWnQm+y7FiKV9hqqnhQ8vLOzMN2HT9pTKQ=

